body{
	margin:0;
	padding:0;
	font-family: 'Roboto';
}
.banner{
	//background: url('../img/bg3.jpg') no-repeat;
	background-image: linear-gradient(rgba(38, 76, 114, 0.7), rgba(38, 76, 114, 0.6)),url('../img/bg3.jpg');
	background-size:cover;
    background-position:center;
	height:120vh;
    margin-bottom:	4em;
}
.banner>p{
	color:#c4a175;	
	font-size:3em;
	margin-top:7.5em;
}
.title{
	font-weight:bold;
	padding-bottom:0.5em;
}
.logo{
	position:fixed;
}
.logo:hover{
	text-decoration:none;
}

.logo-main,.logo-sub,.menu-left a{
	color:#c4a175;	
}

.logo-main{
	font-size:2.3vw;
	font-weight:normal;
}
.logo-sub{
	font-size:1.2vw;
	
}

.logo>i{
	font-size:0.5em;
}


.x1,.y1,.z1{
	border:1px solid silver;
	height:300px;
	padding:1.5em;
	margin:1em;

}

.second-row{
	height:280px;
	font-size:1.5em;
	padding:1.5em;
}
.video{
	background-image: linear-gradient(rgba(38, 76, 114, 0.7), rgba(38, 76, 114, 0.6)),url('../img/advert.jpg');
}


.new-arrivals{

 
}
.card{
	border:0;
	padding-bottom:5em;
}
.card>img{
	height:240px;
	border: 1px solid silver;
}

.advert{
	height:176px;
	background-image: linear-gradient(rgba(38, 76, 114, 0.7), rgba(38, 76, 114, 0.6)),url('../img/advert.jpg');
	//background-color:/img/bags.jpg
	width:100%;
}


.events{
	background-color:rgba(63,127,191,0.1);
	padding:4em;
}
.products>p{
	font-size:1.2em;
}

/* Navigatio Menu */

section {
  height: 100vh;
  color: #fff;
}


.container { padding: 0px 15px 0px 15px; }
@media (min-width: 0) {

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}
}
@media (min-width: 576px) {

.container {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}
}
@media (min-width: 992px) {

.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}
}
@media (min-width: 992px) {

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}
}
@media (min-width: 1200px) {

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}
}

a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.8);
}

a:hover, a :focus { color: #eee ;
text-decoration:none;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
  padding:0.4em;
  padding-top:1.5em;
  
}

.menu-left a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
   //background: #eee;
  transition: width 0s ease, background .35s ease;
}

.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #c4a175;
  transition: width .35s ease;
  text-decoration:none;
}

.menu-left a:hover:before {
	text-decoration:none;
  width: 100%;
  background: #c4a175;
  transition: width .35s ease;
}

.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
  text-decoration:none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 padding: .5rem 0;
  border-bottom:1px solid #eee;
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);

  
}
@media(max-width:560px){
	header{
		  height:19vw;
	}
}
header nav .logo {
  float: left;
 padding-top: .25rem;
 padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  font-weight: 500;
  color: black;
}

header nav .logo:after {
  content: '';
  display: table;
  clear: both;
}

header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav ul li {
  float: none;
  margin-left: 0;
}
@media (min-width: 992px) {

header nav ul li {
  float: left;
  margin-left: 1rem;
}
}

header nav ul li a { display: block; }
@media (min-width: 576px) {

header nav ul li a { display: block;  padding: .425rem 0rem;
}
}
 @media (max-width: 992px) {

ul { clear: both; }

ul li { padding: .5em 0; }
}

.hide-nav {
 transform: translateY(-120% !important); -webkit-transform: translateY(-120%) !important; }

ul.menu-left {
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}
@media (max-width: 768px) {
	header{
		height:15vw;
	}
}

@media (min-width: 992px) {

ul.menu-left {
  display: block !important;
  float: right;
  max-height: none;
}
header{
	height:7.1vw;
}
}

ul.menu-left:before {
  content: '';
  display: table;
  clear: both;
}

ul.menu-left.collapse { max-height: 15em !important; }

.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px;
}

.nav-toggle.open span:first-child { transform: rotate(45deg) translate(4.4px, 4.4px); }

.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-toggle.open span:last-child { transform: rotate(-45deg) translate(4.4px, -4.4px); }
@media (min-width: 992px) {

.nav-toggle { display: none; }
}

.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: #000;
  transition: all .25s;
}

.signature {
  position: fixed;
  font-weight: 100;
  bottom: 10px;
  color: #000;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}




/* FOOTER */
footer{
	padding-top:3em;
	background-image: linear-gradient(rgba(38, 76, 114, 0.7), rgba(38, 76, 114, 0.6)),url('../img/bg3.jpg');
	color:#fff;
	margin-top:5em;
}

footer a{
	color:#fff;
}

footer h5{
	color:#c4a175;	
}

.footer-copyright{
	background-color:rgba(38, 76, 114, 0.7);
}
.foot-text{
	background-color:rgba(63, 127, 191, 0.2);
	font-size: 2em;
	padding:1em;
	color:rgba(38, 76, 114, 0.7);
	
}